@model UserPortalWebService.ViewModel.UserViewModel

@{
    ViewBag.Title = "ChangePassword";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<style>

    .textalign {
        text-align: center;
    }

    /*.marginbottom {
        margin-bottom: 30px;
    }*/

    .paddingleft {
        padding-left: 230px;
    }
</style>
<h2 class="textalign">ChangePassword</h2>

<div>


    @using (Html.BeginForm("Save", "Users"))
    {
        @Html.AntiForgeryToken()


        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        
            <div class="form-group" style="margin-bottom:10px;">
                <label for="Password" class="col-md-4">Old Password</label>
                <div class="col-md-8 ">
                    @Html.EditorFor(model => model.User.Password, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.User.Password, "", new { @class = "text-danger" })
                </div>
            </div>
    <br/>
    <br/>

            <div class="form-group">
                <label for="Password" class="col-md-4">New Password</label>
                <div class="col-md-8">
                    @Html.EditorFor(model => model.NewPassword, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.NewPassword, "", new { @class = "text-danger" })
                    @Html.ValidationMessage("error", new { @class = "text-danger" })


                </div>
            </div>
    <br/>
    <br/>


            <div class="form-group">
                @Html.LabelFor(model => model.ConfirmNewPassword, htmlAttributes: new { @class = "control-label col-md-4" })
                <div class="col-md-8">
                    @Html.EditorFor(model => model.ConfirmNewPassword, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.ConfirmNewPassword, "", new { @class = "text-danger" })
                </div>
            </div>
    <br/>
    <br/>

            @Html.HiddenFor(model => model.User.Id)
            <div class="form-group paddingleft">
                <div class="col-md-offset-2 col-md-10">
                    <input type="submit" value="Change Password" class="btn btn-default" />
                </div>
            </div>
        

    }
</div>

@section scripts{
    <script src="//ajax.aspnetcdn.com/ajax/jquery.validate/1.13.1/jquery.validate.js"></script>
    <script src="//ajax.aspnetcdn.com/ajax/mvc/5.2.3/jquery.validate.unobtrusive.js"></script>

}
